name: Accepted Change

on:
  issues:
    types: [closed]

jobs:
  category:
    name: Accepted Category
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'accepted') && contains(github.event.issue.labels.*.name, 'category request')
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}

      - name: Parse Body
        uses: actions/github-script@v6
        env:
          BODY: ${{ github.event.issue.body }}
        with:
          github-token: ${{ secrets.TOKEN }}
          script: core.exportVariable("CATEGORY", process.env.BODY.split(/(?:\r?\n){2,}/gm)[1]);

      - name: Dispatch Workflow
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          CATEGORY: ${{ env.CATEGORY }}
        run: gh workflow run category.yml -f category=$CATEGORY

  item:
    name: Accepted Repository
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'accepted') && contains(github.event.issue.labels.*.name, 'repository request')
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}

      - name: Parse Body
        uses: actions/github-script@v6
        env:
          BODY: ${{ github.event.issue.body }}
        with:
          github-token: ${{ secrets.TOKEN }}
          script: |
            core.exportVariable("REPOSITORY", process.env.BODY.split(/(?:\r?\n){2,}/gm)[1]);
            core.exportVariable("CATEGORY", process.env.BODY.split(/(?:\r?\n){2,}/gm)[3].replace(/ /gm, ""));

      - name: Dispatch Workflow
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          REPOSITORY: ${{ env.REPOSITORY }}
          CATEGORY: ${{ env.CATEGORY }}
        run: gh workflow run repository.yml -f repository=$REPOSITORY -f category=$CATEGORY

  change:
    name: Accepted Change
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'accepted') && contains(github.event.issue.labels.*.name, 'change request')
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }}

      - name: Parse Body
        uses: actions/github-script@v6
        env:
          BODY: ${{ github.event.issue.body }}
        with:
          github-token: ${{ secrets.TOKEN }}
          script: |
            core.exportVariable("REPOSITORY", process.env.BODY.split(/(?:\r?\n){2,}/gm)[1]);
            core.exportVariable("CATEGORY", process.env.BODY.split(/(?:\r?\n){2,}/gm)[5].replace(/ /gm, ""));

      - name: Dispatch Workflow
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          REPOSITORY: ${{ env.REPOSITORY }}
          CATEGORY: ${{ env.CATEGORY }}
        run: gh workflow run change.yml -f repository=$REPOSITORY -f category=$CATEGORY