name: Dependabot[bot]

on: [pull_request_target]

jobs:
  dependabot:
    name: Dependabot[bot]
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Approve Pull Request
        continue-on-error: true
        run: gh pr review $PR --approve
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR: ${{ github.event.pull_request.number }}