name: Repository Reference

on:
  issues:
    types: [opened, reopened]

jobs:
  lock-issue:
    name: Repository Reference
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'repository request') || contains(github.event.issue.labels.*.name, 'change request')
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Parse Body
        uses: actions/github-script@v8
        env:
          BODY: ${{ github.event.issue.body }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |-
            core.exportVariable("REPOSITORY", process.env.BODY.split(/(?:\r?\n){2,}/gm)[1]);

      - name: Post Comment
        run: |-
          gh issue comment $ISSUE -b "Repository: [$REPOSITORY](https://github.com/$REPOSITORY) <br><br> <sub>This is an automated message, do not reply to this comment.</sub>"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ISSUE: ${{ github.event.issue.number }}
          REPOSITORY: ${{ env.REPOSITORY }}