name: README Update

on:
  workflow_dispatch:
  schedule:
    - cron: 0 12 * 1-2,11-12 0
    - cron: 0 11 * 3-10 0

jobs:
  item:
    name: Update README
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          architecture: x64
          node-version: 20

      - name: Write Changes
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |-
            const fs = require("fs");
            const path = require("path");
            const __dirname = path.resolve();

            const README = path.join(__dirname, "README.md");
            const categories = JSON.parse(fs.readFileSync(path.join(__dirname, "categories.json"), "utf-8"));
            const repositories = JSON.parse(fs.readFileSync(path.join(__dirname, "repositories.json"), "utf-8"));

            let buf = "";

            for(const category of categories){
              buf += '\n';
              buf += ` * [${category}](#${category.toLowerCase().replace(/ /gm, '-')})`;
            }

            buf += '\n';

            fs.writeFileSync(README, fs.readFileSync(README, "utf-8").replace(/(?<=<!-- TOC -->\n).*(?=\n?<!-- \/TOC -->)/gms, buf + '\n'));

            buf = "";

            for(const category of categories){
              const repos = repositories.filter(r => r.category.includes(category)).sort((a, b) => a.repository.toLowerCase() > b.repository.toLowerCase() ? 1 : -1);
              if(repos.length > 0){
                buf += '\n';
                buf += `## ${category}`;
                buf += '\n';
                for(const r of repos){
                    const repo = (await github.rest.repos.get({
                        owner: r.repository.split('/')[0],
                        repo: r.repository.split('/')[1]
                    })).data;

                    buf += '\n';
                    buf += `<h3><a href="${repo.owner.html_url}"><img src="${repo.owner.avatar_url}" width="25" height="25"></a>&nbsp;<a href="${repo.html_url}">${repo.full_name}</a></h3>\n`;
                    buf += '\n';
                    buf += `<sup>${repo.language} • ⭐ ${repo.stargazers_count} • Updated ${new Date(repo.pushed_at).toLocaleDateString("en-US", {year:"numeric", month:"long", day:"numeric"})}\n`;
                    buf += '\n';
                    buf += `${repo.description}\n`;
                }
                buf += '\n';
                buf += `<div align="right"><a href="#top"><code>▲</code></a></div>`;
                buf += '\n';
              }
            }

            fs.writeFileSync(README, fs.readFileSync(README, "utf-8").replace(/(?<=<!-- CONTENT -->\n).*(?=\n?<!-- \/CONTENT -->)/gms, buf + '\n').trim());

      - name: Commit Changes
        run: |-
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -u
          git commit -m "Update README"
          git push